<div class="container">
    <div id="dmtop">
        <a class="cssLogo" href="{{ path('bw_front_homepage') }}">Flayz</a>
        <nav id="cp-nav">
            <ul class="flexnav" data-breakpoint="800">
                <li class="current"><a href="{{ path('bw_front_homepage') }}">Acceuil</a> </li>
                <li><a href="#">Nos Menus</a>
                    <ul>
                        {% for key, val in categories %}

                        <li><a href="{{ path('bw_front_category_list', {'id': val.id}) }}">{{ val.name }}</a></li>

                        {% endfor %}
                    </ul>
                </li>
                <li><a href="#">A Propos</a></li>



                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav><!-- end #cp-nav -->
    </div><!-- /dmtop -->
</div><!-- /container -->