<div id="topbar">
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="pull-left">
                    <ul class="language">
                        <li><a href="#"><i class="icon-ok"></i> ENG</a></li>
                        <li><a href="#">TR</a></li>
                        <li><a href="#">FR</a></li>
                    </ul>
                </div><!-- /language -->
            </div>

            <div class="span6">
                <div class="pull-right">
                    <ul class="top-menu">
                        <li><a href="{{ path('login') }}"><i class="icon-user"></i> Login</a></li>
                        <li><a href="cart.html"><i class="icon-shopping-cart"></i> 0 items - $0</a></li>
                    </ul>
                </div><!-- /rightmenu -->
            </div>
        </div>
    </div>
</div>